In [61]:
import pandas as pd
from functools import reduce
pd.set_option('display.max_columns', None)

In [62]:
df = pd.read_excel('Economic Date_Hardcode.xlsx', sheet_name='Analysis').iloc[:,:-16]

In [63]:
list_of_df = []
for i in range(1,50,3):
    df_temp = df.iloc[:,i:i+2].dropna()
    df_temp.columns = ['Dates',df_temp.iloc[1,1]]
    df_temp = df_temp.iloc[3:]
    list_of_df.append(df_temp)

In [66]:
final_df = reduce(lambda x, y: pd.merge(x, y, how = 'left', on = 'Dates'), list_of_df)

In [68]:
final_df.head()

,Dates,LUACTRUU Index,VIX Index,USCRWTIC Index,CESIUSD Index,USSO1 BGN Curncy,CDX IG CDSI GEN 5Y Corp,CDX HY CDSI GEN 5Y SPRD Corp_x,CDX HY CDSI GEN 5Y SPRD Corp_y,LF98TRUU Index,BSPGCPUS Index,GT30 Govt,GT10 Govt,GT5 Govt,GT2 Govt,INJCJC Index,FINODOWN Index,FINOUP Index
0,2005-06-21 00:00:00,0.936495,11.08,58.9,-12.7,3.7485,NaN,NaN,NaN,774.97,NaN,4.325,4.04,3.826,3.684,NaN,8,4
1,2005-06-22 00:00:00,0.940936,11.05,57.84,-12.8,3.702,NaN,NaN,NaN,775.58,NaN,4.242,3.94,3.718,3.6,NaN,13,1
2,2005-06-23 00:00:00,0.946867,12.13,59.2,-12.9,3.715,NaN,NaN,NaN,774.91,NaN,4.252,3.951,3.732,3.609,NaN,18,1
3,2005-06-24 00:00:00,0.949029,12.18,59.64,-9.7,3.6865,NaN,NaN,NaN,774.34,NaN,4.221,3.917,3.694,3.575,311,8,3
4,2005-06-27 00:00:00,0.950698,12.52,60.54,-10.2,3.6975,NaN,NaN,NaN,774.04,NaN,4.191,3.902,3.68,3.575,NaN,8,4

In [69]:
final_df.to_excel('Economic_data.xlsx', index = False)