In [32]:
import pandas as pd
from functools import reduce
pd.set_option('display.max_columns', None)

df = pd.read_excel('Economic Date_Hardcode.xlsx', sheet_name='Analysis').iloc[:,:-16]
df2 = pd.read_excel('Economic Date_YIELDS_HARDCODED.xlsx', sheet_name='Analysis')

list_of_df = []
for i in range(1,50,3):
    df_temp = df.iloc[:,i:i+2].dropna()
    df_temp.columns = ['Dates',df_temp.iloc[1,1] + ' [' + df_temp.iloc[2,1] + ']'] 
    df_temp = df_temp.iloc[3:]
    list_of_df.append(df_temp)
for i in range(1,16,3):
    df_temp = df2.iloc[:,i:i+2].dropna()
    df_temp.columns = ['Dates',df_temp.iloc[1,1] + ' [' + df_temp.iloc[2,1] + ']'] 
    df_temp = df_temp.iloc[3:]
    list_of_df.append(df_temp)

In [42]:
df = pd.read_excel('DATA_PULL_BB_080120_HC.xlsx', sheet_name='Analysis')

In [43]:
df.shape

(2091, 114)

In [46]:
list_of_df = []
for i in range(1,115,3):
    df_temp = df.iloc[:,i:i+2]
    df_temp.columns = ['Dates',df_temp.iloc[3,1]] 
    df_temp = df_temp.iloc[8:].dropna()
    df_temp['Dates'] = pd.to_datetime(df_temp['Dates'])
    list_of_df.append(df_temp)

In [48]:
final_df = reduce(lambda x, y: pd.merge(x, y, how = 'left', on = 'Dates'), list_of_df)

In [49]:
final_df = final_df.fillna(method='ffill')
final_df = final_df.reindex(sorted(final_df.columns), axis=1)
final_df = final_df.set_index('Dates')

In [50]:
final_df.head()

,10YR_UST,10_2_Curve,10_30_Curve,10_5_Curve,1YR_SWAP,2YR_UST,30YR_UST,5YR_UST,CDX_HY,CDX_HY_10D_AVG,CDX_HY_30D_AVG,CDX_HY_5D_AVG,CDX_HY_SPREAD,CDX_IG,CDX_IG_10D_AVG,CDX_IG_30D_AVG,CDX_IG_5D_AVG,CITI_SUPRISE,EARN_DOWN,EARN_UP,FED_BS,GOLD,LF98TRUU_Index_ SPREAD_RATE_RATIO,LF98TRUU_Index_DURATION,LF98TRUU_Index_OAS,LF98TRUU_Index_SPREAD_DUR_RATIO,LF98TRUU_Index_YTW,LF98TRUU_RATE_COMP,LUACTRUU_Index_ SPREAD_RATE_RATIO,LUACTRUU_Index_DURATION,LUACTRUU_Index_OAS,LUACTRUU_Index_SPREAD_DUR_RATIO,LUACTRUU_Index_YTW,LUACTRUU_RATE_COMP,OIL,S&P500,UNEMPLOY_NUM,VIX_INDEX
Dates,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2012-08-08,1.649,1.377,1.101,0.923,0.1455,0.272,2.750,0.726,98.063,NaN,NaN,NaN,548.072,102.750,NaN,NaN,NaN,-33.5,20,10,NaN,1612.55,5.367730,3.984576,5.650459,1.418083,6.703131,1.052672,1.367675,7.169384,1.741897,0.242963,3.015516,1.273619,93.35,1402.22,NaN,15.32
2012-08-09,1.688,1.416,1.067,0.959,0.1450,0.272,2.755,0.729,97.938,NaN,NaN,NaN,551.268,103.000,NaN,NaN,NaN,-21.3,7,8,NaN,1617.18,5.299545,3.999300,5.684621,1.421404,6.757283,1.072662,1.357236,7.172471,1.735917,0.242025,3.014926,1.279009,93.36,1402.80,NaN,15.28
2012-08-10,1.657,1.396,1.094,0.950,0.1450,0.261,2.751,0.707,97.875,NaN,NaN,NaN,552.893,102.751,NaN,NaN,NaN,-20.9,0,0,NaN,1620.15,5.310995,4.016590,5.766232,1.435604,6.851948,1.085716,1.390026,7.185671,1.739531,0.242083,2.990969,1.251438,92.87,1405.87,369.0,14.74
2012-08-13,1.664,1.399,1.088,0.957,0.1420,0.265,2.752,0.707,97.813,NaN,NaN,NaN,554.523,102.750,NaN,NaN,NaN,-19.7,2,2,NaN,1609.75,5.478811,4.011154,5.758422,1.435602,6.809457,1.051035,1.376335,7.178373,1.727228,0.240616,2.982175,1.254947,92.73,1404.11,369.0,13.70
2012-08-14,1.738,1.463,1.097,0.987,0.1440,0.275,2.835,0.751,97.844,NaN,NaN,97.9066,553.750,103.000,NaN,NaN,102.8502,-12.1,6,2,NaN,1599.05,5.390991,4.036393,5.702170,1.412689,6.759892,1.057722,1.320163,7.148033,1.723379,0.241098,3.028808,1.305429,93.43,1403.93,369.0,14.85

In [52]:
final_df.to_excel('Economic_data_clean_20200801.xlsx')